<div class="form-product">
  <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
    <div>
      <label>Name</label>
      <input formControlName="name"/>
    </div>

    <div>
      <label>Price</label>
      <input formControlName="price" type="number" min="0"/>
    </div>

    <div>
      <label class="check">Checked</label>
      <input  formControlName="checked" type="checkbox"/>
    </div>

    <button [disabled]="productForm.invalid" type="submit">Ajouter</button>
  </form>
</div>
